<section>
    <article>
        <h2 style="text-align: center;">Lapā tiek veikti remontdarbi.</h2>
        <figure class="image-container">
            <img class="service-image" src="img/sataisisim-logo-300.png" alt="Sataisisim logo" />
        </figure>
    </article>
</section>
