.page-header {
    text-align: center;
    background-color: rgba(213, 102, 32, 1);
    color: white;
}

.page-header-heading {
    color: white;
    margin-bottom: 5px;
}

.page-header-description {
    font-size: 14px;
    margin-top: 5px;
    color: white;
}
